$font-family: 'Open Sans', sans-serif;
$color-main: #ff3b30;
$color-main-dark: #d93229;
$font-color-main: #3d424d;
$font-color-secondary: #8b93a3;
$border-color-secondary: #d7deea;

body{
  font-family: $font-family;
}

/*remove Firefox's dotted outline */
button::-moz-focus-inner {
  border: 0;
}

.btn{
  display: block;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  outline: none;
  background-color: transparent;
  border: 0;
}
.trigger{
  margin-left: auto;
  margin-right: auto;
  padding: 15px 25px;
  font-size: 1rem;
  color: $color-main;
  border: 2px solid $color-main;
  
}
.popup {
	display: none;
	position: absolute;
	top:0;
	right:0; 
	left:0;
	bottom:0;
	background:rgba(0, 0, 0, .25); 
}
.popup__wrap{
  width: 600px;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  background-color: white;
  box-shadow: 3px 5px 5px rgba(0,0,0, .5);
  z-index: 2;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  margin-right: -50%;
  position: fixed;
  border-radius: 5px;
  padding: 1rem;
  box-sizing: border-box;
  overflow: auto;

  .popup__inner{
    margin: 2rem;
  }

  .popup__icon{
    background-image: url('./img/icon-warning_notify-red.svg');
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
  }

  .popup__title{
    color: $font-color-main;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .popup_footer{
    display: flex;
    display: -ms-flexbox;
    justify-content: space-between;
  }

  .popup__button_big{
    width: calc((100% - 30px)/2);
    height: 45px;
    font-weight: 700;
    font-size: 1.2rem;
  }
  .popup__button_close{
    background-image: url('./img/icon-popup-close.svg');
    width: 40px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .btn-red{
    background-color: $color-main;
    color: #ffffff;
    border-bottom: 2px solid ;
    &:active{
      background-color: $color-main-dark;
    }
  }
  .btn-outline{
    border: 2px solid $border-color-secondary;
    color: $font-color-secondary;
    &:active{
      background-color: $border-color-secondary;
    }
  }
}


